    body {
        background-color: black;
        display: flex;
        color: white;
    }

    h1 {
        margin: 1vmin 0;
        font: 2rem sans-serif;
    }

    p {
        font: 1.5vmin sans-serif;
        margin: 1vmin 5vmin;
    }
    #view {
        background-color: black;
        height: 90vmin;
        width: 90vmin;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        color: white;
    }
    #content {
        background-color: white;
        margin: 0.5vmin;
        height: 40vmin;
        width: 40vmin;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5vmin;
        justify-items: stretch;
        align-items: stretch;
        justify-content: right;
        align-content: right;
    }

    #ocean {
        background-color: white;
        
        margin: 1vmin;
        height: 40vmin;
        width: 40vmin;
        
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.5vmin;
        justify-items: stretch;
        align-items: stretch;
        justify-content: start;
        align-content: start;
    }

    

    .square {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        color: red;
        font: 3vmin sans-serif;
        
    }

    #base {
        background-color: red;
        margin: 0.5vmin;
        height: 30vmin;
        width: 30vmin;
        
        display: grid;
        
    }

    .ship1-container {
        background-color: gray;
        color: gray;
        height: 4vmin;
        width: 4vmin;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .ship2-container {
        background-color: yellow;
        color: yellow;
        height: 4vmin;
        width: 8vmin;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .ship3-container {
        background-color: green;
        color: green;
        height: 4vmin;
        width: 12.5vmin;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ship4-container {
        background-color: purple;
        color: purple;
        height: 4vmin;
        width: 17vmin;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .ship5-container {
        background-color: white;
        color: white;
        height: 4vmin;
        width: 21vmin;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .ship div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font: 3vmin sans-serif;
        
    }

    .circle {
        height: 1.5vmin;
        width: 1.5vmin;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }

    .circ {
        height: 1.5vmin;
        width: 1.5vmin;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }


    .reset {
        
        align-content: bottom;
        justify-content: bottom;
        height: 5vmin;
        width: 15vmin;
        position: absolute;
        bottom: 10px;
        margin: 5vh 0 10vh;
        font: 1.5vmin sans-serif;
    }

    .hit {
        height: 1.5vmin;
        width: 1.5vmin;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        
    }

    .miss {
        height: 1.5vmin;
        width: 1.5vmin;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        
    }